ANCHOR_WIFI_SSID=your-ssid
ANCHOR_WIFI_PASSWORD=your-password
ANCHOR_MQTT_HOST=192.168.x.x
ANCHOR_MQTT_PORT=1883
ANCHOR_MQTT_USER=your-mqtt-user
ANCHOR_MQTT_PASSWORD=your-mqtt-password
ANCHOR_MQTT_TLS_ENABLED=false
